<!DOCTYPE html>
<html>
<head>
    <title>Movie Reviews</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/navbar.css'/>
</head>
<body>
<div class="navbar navbar-inverse navbar-twitch" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"></a>
        </div>
        <div class="">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">
						<span class="small-nav" data-toggle="tooltip" data-placement="right" title="Home">
							<span class="glyphicon glyphicon-home"></span>
						</span>
                    </a>
                </li>
                <li>
                    <a href="/movies">
						<span class="small-nav" data-toggle="tooltip" data-placement="right" title="Manage movies">
							<span class="glyphicon glyphicon-list"></span>
						</span>
                    </a>
                </li>
                <li>
                    <a href="/movies/add">
						<span class="small-nav" data-toggle="tooltip" data-placement="right" title="Add a movie">
							<span class="glyphicon glyphicon-plus"></span>
						</span>
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

{{{body}}}

</body>

</html>
