@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic);

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 3000px;
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}