.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

.panel-body {
    padding: 0px;
}

.panel-footer .pagination {
    margin: 0;
}

.panel .glyphicon, .list-group-item .glyphicon {
    margin-right: 5px;
}

.list-group-item:hover, a.list-group-item:focus {
    text-decoration: none;
    background-color: rgb(245, 245, 245);
}

.list-group {
    margin-bottom: 0px;
}